In [ ]:
Python Assignment

In [ ]:
#1.Install Jupyter notebook and run the first program and share the screenshot of the output.

In [31]:
a = input("Enter the Name :")

Enter the Name :ANAND

In [ ]:
#2.Write a program which will find all such numbers which are divisible by 7 but are not a multipleof 5, between 2000 and 3200 (both included). The numbers obtained should be printed in acomma-separated sequence on a single line.

In [ ]:
for n in range(2000,3200):
    if n%7 == 0 and n%5!=0:
        print(n,end=',')

In [ ]:
#3.Write a Python program to accept the user's first and last name and then getting them printed in the reverse order with a space between first name and last name.

In [6]:
FirstName = input("Enter your First Name : ")
LastName = input("Enter your Last Name : ")
print ( LastName + " " + FirstName)

Enter your First Name : Vibu
Enter your Last Name : Anand
Anand Vibu

In [ ]:
#4.Write a Python program to find the volume of a sphere with diameter 12 cm.Formula: V=4/3 * Ï€ * r 3

In [7]:
pi =3.14159
d=12
r= d/2
V=4/3*pi*r**3
print("The Volume of the Sphere:",V)

The Volume of the Sphere: 904.7779199999999

In [ ]:
#5.Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

In [10]:
num = input("enter the number:")
newlist=num.split(",")
print (newlist)

enter the number:11,22,33,44,55
['11', '22', '33', '44', '55']

In [ ]:
#6.Create the below pattern using nested for loop in Python.
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [27]:
for i in range(1,6):
    print(" * "*i)
for j in range(4,0,-1):
    print(" * "*j)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [34]:
#7.Write a Python program to reverse a word after accepting the input from the user.

In [11]:
s = input("Enter a string: ")
print (s[::-1])

Enter a string: Python
nohtyP

In [ ]:
#8.Write a Python Program to print the given string in the format specified in the sample output.
WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens

In [14]:
print("WE, THE PEOPLE OF INDIA,\n\thaving solemnly resolved to constitute India into a SOVEREIGN, ! \n\tSOCIALIST, SECULAR, DEMOCRATIC REPUBLIC  \n\tand to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	having solemnly resolved to constitute India into a SOVEREIGN, !
	SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
	and to secure to all its citizens